div.ad_placement.ad_leaderboard.noprint {
    color: #ffffff;
    background-color: #140b0b;
    display: none;
}

li.spotlightFollowers {
    display: none;
}

div.spotlightAvatarContainer {
    display: none;
}

div.communitySpotlightHeader {
    display: none;
}

li.spotlightName a {
    display: none;
}

div.addToIGN {
    display: none;
}

div.spotlightData {
    display: none;
}

div.spotlightTagLine {
    display: none;
}

div.ign-communitySpotlight div a {
    display: none;
}

div.ignFooter-column {
    display: none;
}

div.ignFooter-topRow {
    display: none;
}

div.grid_8.coverStoriesShift {
    display: none;
}

div.ignFooter-bottomRow.ignFooter-bottomRowCompact {
    color: #611361;
    background-color: #1e0624;
    display: none;
}

html.wf-arsmaquetteweb-n4-active.wf-arsmaquetteweb-n7-active.wf-ffdinroundwebpro-n7-active.has-svg.wf-arsmaquetteweb-i4-active.wf-arsmaquetteweb-n9-active.wf-active body {
    background-color: #2cc2e8;
}

a.queue-item.tile.content.trending {
    display: none;
}

img.image.type-other {
    display: none;
}

div.tile.content.has-label {
    display: none;
}

div.horizontal {
    background: linear-gradient(to right, rgba(239,245,247,1) 16%, rgba(99,202,234,1) 33%, rgba(41,184,229,1) 40%, rgba(202,237,249,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 );
}

html.wf-arsmaquetteweb-i4-active.wf-arsmaquetteweb-n4-active.wf-arsmaquetteweb-n7-active.wf-arsmaquetteweb-n9-active.wf-ffdinroundwebpro-n7-active.wf-active.has-svg body {
    background: linear-gradient(to right, rgba(239,245,247,1) 5%, rgba(41,184,229,1) 16%, rgba(84,198,234,1) 33%, rgba(217,242,250,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 );
}

div.spine {
    background: linear-gradient(to right, rgba(239,245,247,1) 5%, rgba(41,184,229,1) 16%, rgba(84,198,234,1) 33%, rgba(217,242,250,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 );
}

div.trendingwikis-pages {
    background: linear-gradient(to right, rgba(239,245,247,1) 5%, rgba(41,184,229,1) 16%, rgba(84,198,234,1) 33%, rgba(217,242,250,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 );
}

div.container_24.clear {
    background: linear-gradient(to right, rgba(239,245,247,1) 16%, rgba(99,202,234,1) 33%, rgba(41,184,229,1) 40%, rgba(202,237,249,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 );
}

div.listElmnt {
    background: linear-gradient(to right, rgba(239,245,247,1) 5%, rgba(41,184,229,1) 16%, rgba(84,198,234,1) 33%, rgba(217,242,250,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 );
}

#blogrollInterruptDealsMore {
    display: none;
}

div.noprint {
    color: #faf2fa;
    background-color: #faf2fa;
}

a.trendingwikis-readerCount {
    background: linear-gradient(to right, rgba(239,245,247,1) 5%, rgba(41,184,229,1) 16%, rgba(84,198,234,1) 33%, rgba(217,242,250,1) 85%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff5f7', endColorstr='#ffffff', GradientType=1 )
;
}

div.listElmnt-blogItem:hover {
    width: 70%;
    background-color: white;
}

div.listElmnt-blogItem {
    width: 100%;
    list-style: none;
    margin: 10px;
    padding: 5px 0;
    -moz-border-radius: 5px 20px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
